body{
    background-color: #F2F4F9;
}
#block-body{
    width: 950px;
    margin: 5px auto;
    background-color: white;
    border: 1px solid #E0E0E0;
}
#block-header{
    width: 950px;
    height: 80px;
    border-bottom: 1px solid #E0E0E0;
}
#block-header1{
    width: 300px;
    float: left;
}
#block-header1 h3{
    font: 20px sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#block-header1 p{
    margin-left: 15px;
    margin-top: 10px;
}
#block-header1 a{
    font: 15px sans-serif;
    color:  black;
}
#block-header2{
    width: 300px;
    float: right;
}
#block-header2 p{
    margin-top: 10px;
    margin-right: 10px;
    font: 13px sans-serif;
}
#block-header2 a{
    font: 14px sans-serif;
    text-decoration: none;
    color: black;
}
#block-header2 a:hover{
    text-decoration: underline;
}
#block-header2 span{
    border-bottom: 1px dashed black;
}
#left-nav{
    width: 200px;
    height: auto;
    min-height: 200px;
    position: absolute;
}
#left-nav ul{
   margin-top: 10px;
}
#left-nav li{
   margin-left: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-bottom: 1px solid #EDEDED;
}
#left-nav a{
   font: 15px sans-serif;
   text-decoration: none;
   color: black;
}
#left-nav a:hover{
   text-decoration: underline;
}
#block-content{
    width: 747px;
    min-height: 650px;
    height: auto;
    margin-left: 201px;
    border-left: 1px solid #E0E0E0;
}
#block-parameters{
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F2F2F2;
}
#title-page{
    font: 18px sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}
#block-info{
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
}
#count-style{
    margin-top: 12px;
    font: 14px sans-serif;
    margin-left: 10px;
    position: absolute;
}
#block-prod{
    margin-top: 10px;
}
#block-prod li{
    height: 260px;
    width: 230px;
    float: left;
    margin-left: 10px;
}

#block-prod p{
    margin-top: 10px;
    font: 15px sans-serif;
    text-align: center;
}
.delete{
    font:bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}
.green{
    font:bold 13px sans-serif;
    color: green;
}
.pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}
.pstrnav li{
   float: left;
   margin-top: 10px;
}
.pstrnav a{
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}
.pstrnav a:hover{
    color: #E26029;
}
a.pstr-prev, a.pstr-next{
    color: #006289;
    font: 14px arial;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}
a.pstr-prev:hover, a.pstr-next:hover{
    text-decoration: none;
}

.pstrnav a.pstr-active{
    color: #D95D27;
    font-weight: bold;
}
.pstrnav p.nav-point{
    text-align: center;
    font:14px sans-serif; 
    margin-top: 5px;  
} 
#footerfix{
    clear: both;
}
#options-list > li{
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
    margin-top: 13px;   
}
#options-list > li > a{
    color: #748996;
}
#list-links{
    background-color: white; 
    border: 1px solid #A3C0D2;
    position: absolute;
    display: none;
    width: 450px;
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}
#list-links > ul{
   width: 150px;
   float: left;
}
#list-links > ul > li{
   margin-top: 3px;
   margin-left: 10px;
}
#list-links > ul > li > a{
   font: 15px sans-serif;
   text-decoration: none; 
   color: black;
}
#list-links > ul > li > a:hover{
   text-decoration: underline; 
}
#add-style{
   margin-top: 12px;
   margin-left: 618px;
   position: absolute;
}
#add-style > a{
  font: 13px arial;
  color: black;
  text-decoration: none;
  border: 1px solid #FFDACA;
  background-color: #FFE7E7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#add-style > a:hover{ 
  border: 1px solid #FFBFA4;
}
#edit-prod label{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px; 
}
#edit-prod{
  margin-top: 20px;   
}
#edit-prod li{
  margin-top: 10px;   
}
#edit-prod input{
  margin-left: 170px;
  width: 400px;
  height: 25px;   
  border: 1px solid #D4D4D4;
  padding-left: 5px;
  font: 15px sans-serif;
}
#edit-prod textarea{
  margin-left: 170px;
  width: 401px;
  height: 80px;
  border: 1px solid #D4D4D4; 
  font: 15px sans-serif;  
}
#edit-prod select#type{
  margin-left: 170px;
  width: 250px;
  height: 25px;
  border: 1px solid #D4D4D4;   
}
#edit-prod select{
  margin-left: 170px;
  width: 250px;
  border: 1px solid #D4D4D4;   
}

#baseimg-upload{
  margin-top: 40px;     
}
#baseimg-upload input{
  margin-left: 15px;    
}
.h3click{
    font:bold 15px sans-serif;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #EAEAEA;
    border: 1px solid #E3E3E3;
}
.h3click:hover{
    background-color: #DDDDDD;
}
.stylelabel{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px;    
}
#objects{
    margin-top: 50px;
}
.addimage{
    margin-left: 50px;
    margin-top: 5px;
}
.div-editor1,.div-editor2,.div-editor3,.div-editor4{
    display: none;
}
#submit_form{
    border: 1px solid #A8BBD4;
    background-color: #BBD0EC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 15px;
    font:bold 12px sans-serif;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit_form:hover{
    border: 1px solid #779FD3;
}
#chkbox > li{
    margin-top: 5px;
    margin-left: 10px;
    font: 15px sans-serif;
}
.h3title{
    font: bold 17px sans-serif;
    margin-left: 10px;
}
#add-input{
    margin-left: 15px;
    font:bold 13px sans-serif;
    cursor: pointer;
    text-decoration: underline;
    color: #34659D;
    display: inline-block;
}
.addimage a{
 font:bold 13px sans-serif;
 color: #D90094; 
 text-decoration: none;  
 cursor: pointer;
}
.addimage a:hover{
 text-decoration: underline;  
}
#form-error{
    font:bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#form-success{
    font:bold 14px sans-serif;
    color: black;
    background-color: #E6EED9;
    border: 1px solid #D1E7BC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}
#baseimg{
  margin-top: 40px; 
  height: 120px;
}

#baseimg img{
  float: left;
  margin-left: 15px;
}
#baseimg a{
    width: 16px;
    height: 16px;
    background: url(../images/action_delete.png);
    float: left;
    cursor: pointer;
    margin-left: 5px;
}
#gallery-img{
    height: 125px;
    margin-top: 20px;
}
#gallery-img li{
    float: left;
    margin-left: 20px;
}
#gallery-img img{
    float: left;
}
#gallery-img a{
    width: 16px;
    height: 16px;
    background: url(../images/action_delete.png) no-repeat;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}
#list-links-sort{
    background-color: white; 
    border: 1px solid #A3C0D2;
    position: absolute;
    display: none;
    width: 200px;
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}

#list-links-sort  li{
   margin-top: 3px;
   margin-left: 10px;
}
#list-links-sort  a{
   font: 15px sans-serif;
   text-decoration: none; 
   color: black;
}
#list-links-sort a:hover{
   text-decoration: underline; 
}

#review-info-count li{
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
    margin-top: 12px;
}
.block-reviews{
    border-bottom: 1px solid #E0E0E0;
    min-height: 170px;
    height: auto;
}
.reviews-comment{
    clear: both;
    margin-left: 15px;
    margin-right: 15px;
    font: 15px sans-serif;
}
.block-title-img{
    margin-right: 15px;
    margin-bottom: 10px;
    width: 190px;
    min-height: 170px;
    height: auto;
    float: left;
}
.block-title-img > p{
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 15px;
    font: 15px sans-serif;
}
.plus-minus{
    margin-bottom: 10px;
    float: left;
    width: 530px; 
    min-height: 100px;
    height: auto;
}
.plus-minus > img{
    position: absolute;
    
}
.plus-minus > p{
    font: 14px sans-serif;
    margin-left: 30px; 
    margin-top: 0px;
}
.author-date{
   font: 14px arial;
   margin-left: 20px;
   color: #525252;
}
.links-actions{
    margin-right: 15px; 
}
#cat_products{
    margin-top: 20px;
}
#cat_products li{
    margin-top: 15px;
}
#cat_products label{
    position: absolute;
    margin-left: 15px; 
    font: 14px arial;
    margin-top: 3px;
}
#cat_products select{
    margin-left: 150px;
    width: 400px;
    height: 350px; 
}
#cat_products input{
    margin-left: 150px;
    width: 300px;
    height: 25px; 
}
#cat_products div{
   position: absolute;
   margin-left: 560px;
   display: inline-block;
}
#cat_products a{
  font: 14px sans-serif;
  display: block;
  margin-top: 4px;
  cursor: pointer;
  text-decoration: underline;
}
#cat_products a:hover{
  text-decoration: none;
}
#count-client{
    position: absolute;
    font: 15px sans-serif;
    margin-left: 10px;
    margin-top: 12px;
}
.block-clients{
    border-bottom: 1px solid #E0E0E0;
    min-height: 40px;
    height: auto;
    cursor: pointer;
}
.block-clients > ul{
  display: none;
  margin-bottom: 15px;
}
.block-clients > ul > li{
    margin-left: 20px;
    padding-top: 4px;
    font: 14px sans-serif;
}
.block-clients > ul > li > strong{
    color: #323232;
    font-size: 12px;
}
.client-datetime{
    font: 14px sans-serif;
    margin-left: 10px;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 0px;   
}
.client-email{
    font: 14px sans-serif;
    margin-left: 10px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;  
}
.client-links{
    font: 14px sans-serif;  
    position: absolute; 
    margin-left: 580px; 
    margin-top: -36px;
}
.block-news{
    border-bottom: 1px solid #E0E0E0;
    
    padding: 10px;
}
.block-news h3{
    font: 19px sans-serif;
    margin: 0;
}
.block-news span{
    display: block;
    font: 12px sans-serif;
    margin-top: 5px;
}
.block-news p{
    font: 15px sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}
#add-style{
   margin-top: 12px;
   margin-left: 618px;
   position: absolute;
}
#add-style > a{
  font: 13px arial;
  color: black;
  text-decoration: none;
  border: 1px solid #FFDACA;
  background-color: #FFE7E7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#add-style > a:hover{ 
  border: 1px solid #FFBFA4;
}
#news{
    width: 400px;
    height: 250px;
    display: none;
}
#block-input{
    height: 200px;
}
#news label{
   display: block; 
    font: 15px sans-serif;
    margin-top: 15px;
}
#news input{
    width: 300px;
    height: 28px;
    margin-left: 10px;
	border:1px solid #E0E0E0;
}
#news input#submit_news{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #D7D7D7;
    background-color: #E8E8E8;
    cursor: pointer;
}
#news textarea{
    width: 296px;
    height: 120px;
    position: absolute;
    margin-left: 15px;
	border:1px solid #E0E0E0;
}
#info-admin label{
  position: absolute;
  margin-left: 15px; 
  font: 14px arial;
  margin-top: 6px;
}
#info-admin li{
  margin-top: 10px;   
}
#info-admin input{
 margin-left: 200px;   
 height: 30px;
 width: 350px;
 font: 17px sans-serif;
 border-left: 1px solid #ABABAB;
 border-top: 1px solid #ABABAB;
 border-right: 1px solid #DDDDDD;
 border-bottom: 1px solid #DDDDDD;
 padding-left: 5px;
}
.privilege{
    float: left;
    margin-left: 10px;
}
.privilege li{
    margin-left: 15px;
}
.privilege h3{
    font:bold 15px sans-serif;
}
.privilege label{
    font: 14px sans-serif;
}
.block-privilege{
    height: 120px;
}
#title-privilege{
    margin-left: 15px;
    font-family: sans-serif;
}
#link-privilege{
    margin-left: 15px;
}
#link-privilege a{
    font: 13px sans-serif;
    text-decoration: underline;
    color: #D15019;
    cursor: pointer;
}
#link-privilege a:hover{
    text-decoration: none;
}
#list-admin li{
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
}
#list-admin h3{
    font: bold 15px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
#list-admin p{
    font: 13px sans-serif;
    margin-top: 3px;
    margin-left: 25px;
    margin-bottom: 0;
}
.block-order{
    border-bottom: 1px solid #E0E0E0;
    min-height: 40px;
    height: auto;
}
.order-datetime{
    font: 14px sans-serif;
    margin-left: 10px;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 0px;   
}
.order-number{
     font: 14px sans-serif;
    margin-left: 10px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;     
}
.order-link{
    font: 14px sans-serif;  
    position: absolute; 
    margin-left: 580px; 
    margin-top: -36px;
}
.order-link > a.green{
    font:bold 13px sans-serif;
    color: green;   
}
.order-link > a:hover{
    text-decoration: none;   
}
.green{
    font:bold 13px sans-serif;
    color: green;
}
.red{
    font:bold 13px sans-serif;
    color: #D6533C;
}
.view-order-link{
    margin-left: 10px;
}

table{
   margin-top: 20px;
}
th{
    font:bold 14px sans-serif;
}
td{
    border: 1px solid #E0E0E0;
    font:15px sans-serif;
}
#info-order{
   margin-top: 15px;
}
#info-order li{
   font: 16px sans-serif; 
   margin-left: 10px;
   margin-top: 6px;
}
#info-order span{
   color: #5D6E78;
   font:bold 15px sans-serif;
}
#info-order span.green{
   color: #6BA100;
   font:bold 15px sans-serif;
}
#info-order span.red{
   color: #E05F5F;
   font:bold 15px sans-serif;
}
#general-statistics{
    margin-top: 15px;
    margin-left: 160px;
    width: 400px;
}
#general-statistics li{
    border-bottom: 1px dashed #E0E0E0;
    margin-left: 15px;
    margin-right: 15px;
}
#general-statistics p{
   font: 17px arial; 
   margin: 0;
   padding: 5px;
}
#general-statistics span{
   position: absolute;
   margin-left: 330px;
   display: block;
   margin-top: -18px;  
   font:bold 14px sans-serif;
}
#title-statistics{
    font: 20px sans-serif;
    margin-left: 15px;
    text-align: center;
    text-decoration: underline;
}
#left-nav p{
    font: 14px sans-serif;
    color: white;
    margin-left: 150px;
    position: absolute;
    background-color: #A3C0D2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -19px;
}